@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@400;500;600&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-white: #ececec;
    --clr-black: #1c1c1c;
    --clr-red: #a01717;
    --clr-blue: #243491;
    --ff-title: 'Dela Gothic One', sans-serif;
    --ff-text: 'Rubik', sans-serif;
}

body {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-family: var(--ff-text);
    padding: 2rem;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-title);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.lorem {
    margin-block: 2rem;
}

.titulo {
    position: relative;
    display: inline-block;
}

.titulo::before {
    content: "";
    background-color: red;
    width: 100%;
    height: 100%;

    position: absolute;

    right: calc(100% + 1rem);
    top: 0;
}

.titulo::after {
    content: "";
    background-color: red;
    width: 2000px;
    height: 100%;

    position: absolute;

    left: calc(100% + 1rem);
    top: 0;
}

.link {
    position: relative;
    color: red;
    font-weight: 600;
}

.link::before {
    content: attr(data-texto);
    position: absolute;
    bottom: 100%;
    background-color: var(--clr-black);
    font-weight: 400;
    font-size: .8em;
    padding: .25rem .5rem;
    border-radius: .25rem;
    color: var(--clr-white);

    transform: scale(0);
    transform-origin: bottom left;

    transition: .15s;
}

.link:hover::before {
    transform: scale(1);
}

.tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 800px) {
    .tarjetas {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .tarjetas {
        display: flex;
        flex-direction: column;
    }
}

.tarjeta {
    position: relative;
}

.tarjeta-texto {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.687);
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.tarjeta:hover .tarjeta-texto {
    opacity: 1;
    visibility: visible;
}

.tarjeta-texto::before {
    content: '';
    position: absolute;

    top: 2rem;
    bottom: 2rem;
    left: 1rem;
    right: 1rem;
    border-top: 1px solid var(--clr-black);
    border-bottom: 1px solid var(--clr-black);

    transform: scaleX(0);
    transition: .5s;
}

.tarjeta-texto::after {
    content: '';
    position: absolute;

    top: 1rem;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
    border-left: 1px solid var(--clr-black);
    border-right: 1px solid var(--clr-black);

    transform: scaleY(0);
    transition: .5s;
}

.tarjeta-texto:hover::before {
    transform: scale(1);
}

.tarjeta-texto:hover::after {
    transform: scale(1);
}